<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--驱动路径注意数据库类型  -->
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <!--数据库路径  -->
        <property name="connection.url">jdbc:oracle:thin:@//192.168.1.41:1521/zoemdb</property>
        <!--数据库用户名  -->
        <property name="connection.username">zoeconnect</property>
        <!--数据库密码  -->
        <property name="connection.password">zoe$2017cnt</property>
        <!--方言，便于hibernate对象操作转化为合适的数据库语句  -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!--是否显示sql语句，sql一般会很难看  默认为false-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--下一个层级的映射文件，用来配置bean对象与数据表之间的关系  -->
        <mapping resource="com/sane/partake/intellisense/Thesaurus.hbm.xml"/>
    </session-factory>
</hibernate-configuration>